
body{
    background-color: rgb(81, 79, 92);
    text-align: center;
    color: rgb(226, 191, 191);
    padding-right: 50px;
}

h1{
    
    font-family: 'Playball', cursive;
    font-size: 120px;
    padding: 50px 15px 35px 15px;
    margin: 0px;
}

h3{
    font-family: 'Indie Flower', cursive;
    font-weight: lighter;
    letter-spacing: 5px;
}

.img1{
    width: 350px;
}

.social-icons{
    color: rgb(128, 128, 136);
    text-align: end;
    letter-spacing: 20px;
    font-size: 30px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

@media (max-width: 800px){

    body{
        text-align: center;
        padding: auto;
    }
    
    h1{
        padding-top: 50px;
        font-size: 100px;
    }

    h3{
        font-size: 40px;
    }

    .social-icons{
        text-align: center;
        padding: 40px 5px 0px 5px;
        margin: 0px;
    }
    
    .img1{
        width: 300px;
    }

}
