
body{
    background-color: rgb(81, 79, 92);
    text-align: center;
    color: rgb(226, 191, 191);
    padding-right: 20px;
}

h1{
    
    font-family: 'Playball', cursive;
    font-size: 80px;
    padding: 0px 15px 35px 15px;
    margin: 0px;
}

h3{
    font-family: 'Indie Flower', cursive;
    font-weight: lighter;
    padding: 0px 0px 0px;
    margin: 0px;
    letter-spacing: 5px;
}

.img1{
    width: 200px;
}

.social-icons{
    color: rgb(128, 128, 136);
    padding: 5px 5px 0px 5px;
    text-align: end;
}

@media (max-width: 400px){

    h1{
        padding-top: 50px;
        font-size: 50px;
    }

    h3{
        font-size: 20px;
    }

    .social-icons{
        text-align: center;
        padding: 20px 5px 0px 5px;
        margin: 0px;
    }

}